.container {
  display: flex;
  //   justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.header {
  width: 100vw;
  height: 150px;
  position: fixed;
  top: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  background-color: #fff;
}
.wrapper {
  text-align-last: left;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 3rem;
  // position: relative;
  // top: 150%;
  // justify-content: space-between;
  //   border: 3px solid rgb(255, 255, 255);
  // background-color: red;
  &:nth-child(odd) {
    background-color: #eee;
  }
  &:nth-child(even) {
    background-color: #ddd;
  }
}
.button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #fff;
  padding: 0 1rem;
  margin: 0 1rem;
  cursor: pointer;
  &:hover {
    background-color: #e0dfdf;
  }
}
.table {
  text-align-last: left;
  border: 0 !important;
  border-spacing: 0 !important;
  width: 100%;
  position: relative;
  top: 150px;

  &__row {
    padding: 1rem;

    top: 180px;
    position: sticky;

    &__head {
      background-color: rgb(205, 217, 245);
    }
  }
  &__body {
    &__row {
      padding: 1rem;
      // border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}
.questions {
  display: flex;
  flex-direction: column;
}
.scores {
  display: flex;
  gap: 0 1rem;
}
.bordered {
  border-bottom: 1px solid green;
}
.wrapped {
  display: flex;
  gap: 0 3rem;
  border: 2px solid black;
  &:nth-child(odd) {
    background-color: #d9d9d9;
  }
  &:nth-child(even) {
    background-color: #e9e9e9;
  }
}
